---
version: "2.1"
services:
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: {{ CONTAINER_NAME }}
    cap_add:
      - NET_ADMIN
      - SYS_MODULE 
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ TZ }} 
      - SERVERURL={{ SERVER_URL }} 
      - SERVERPORT={{ SERVER_PORT }} 
      - PEERS={{ PEER_NUMBER }} 
      - PEERDNS={{ DNS_SERVER }} 
      - INTERNAL_SUBNET={{ INTERNAL_SUBNET}} 
      - ALLOWEDIPS={{ ALLOWED_IPS }} 
      - PERSISTENTKEEPALIVE_PEERS= 
      - LOG_CONFS={{ LOG_CONFS }} 
    volumes:
      - {{ CONFIG_FILE_PATH }}:/config
      - /lib/modules:/lib/modules 
    ports:
      - {{ SERVER_PORT }}:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
